In [4]:
import pandas as pd

# Sample DataFrame
data = {'col1': [1, 2, 3, 1, 2],
        'col2': ['a', 'b', 'c', 'a', 'b'],
        'col3': [10, 20, 30, 10, 20],
        'col4': ['X', 'Y', 'Z', 'X', 'Y'],
        'col5': [5, 10, 15, 5, 10]}

df = pd.DataFrame(data)
print(df)

# Drop duplicates based on all columns
df_no_duplicates = df.drop_duplicates(subset=df.columns.tolist())

print(df_no_duplicates)

   col1 col2  col3 col4  col5
0     1    a    10    X     5
1     2    b    20    Y    10
2     3    c    30    Z    15
3     1    a    10    X     5
4     2    b    20    Y    10
   col1 col2  col3 col4  col5
0     1    a    10    X     5
1     2    b    20    Y    10
2     3    c    30    Z    15

In [6]:
import pandas as pd

# Sample DataFrame
data = {'col1': [1, 2, 3, 1, 2],
        'col2': ['a', 'b', 'c', 'a', 'b'],
        'col3': [10, 20, 30, 10, 20],
        'col4': ['X', 'Y', 'Z', 'X', 'Y'],
        'col5': [5, 10, 15, 5, 10]}

df = pd.DataFrame(data)
print(df)
# Find and drop rows where all values are identical
df_no_duplicates = df[~df.duplicated(keep=False)]

print(df_no_duplicates)

   col1 col2  col3 col4  col5
0     1    a    10    X     5
1     2    b    20    Y    10
2     3    c    30    Z    15
3     1    a    10    X     5
4     2    b    20    Y    10
   col1 col2  col3 col4  col5
2     3    c    30    Z    15

In [11]:
import pandas as pd

# Sample DataFrame
data = {'col1': [1, 2, 1, 1, 2],
        'col2': ['a', 'c', 'a', 'c', 'b'],
        'col3': [10, 20, 10, 15, 20],
        'col4': ['X', 'Y', 'X', 'X', 'Y'],
        'col5': [5, 10, 5, 5, 10]}

df = pd.DataFrame(data)
print(df)

# Drop rows where all columns are identical
df_no_duplicates = df.drop_duplicates()

print(df_no_duplicates)

   col1 col2  col3 col4  col5
0     1    a    10    X     5
1     2    c    20    Y    10
2     1    a    10    X     5
3     1    c    15    X     5
4     2    b    20    Y    10
   col1 col2  col3 col4  col5
0     1    a    10    X     5
1     2    c    20    Y    10
3     1    c    15    X     5
4     2    b    20    Y    10