In [4]:
import pandas as pd

# Sample DataFrame
data = {'stations': ['[RS107, 18.00009, -67.0009]', '[RS108, 19.00009, -68.0009]']}
df = pd.DataFrame(data)
print(df)

# Use str.extract() with a regular expression to split the column
df[['station', 'latitude', 'longitude']] = df['stations'].str.extract(r'^(.*?),\s+([\d.-]+),\s+([\d.-]+)$')

# Drop the original 'stations' column
df.drop(columns=['stations'], inplace=True)

# Convert 'latitude' and 'longitude' columns to float
df['latitude'] = df['latitude'].astype(float)
df['longitude'] = df['longitude'].astype(float)

# Display the resulting DataFrame
print(df)

                      stations
0  [RS107, 18.00009, -67.0009]
1  [RS108, 19.00009, -68.0009]
  station  latitude  longitude
0     NaN       NaN        NaN
1     NaN       NaN        NaN

In [11]:
import pandas as pd

# Sample DataFrame with data enclosed in square brackets
data = {'station': ['[RS107, 18.00009, -67.0009]', '[RS108, 19.00009, -68.0009]']}
df = pd.DataFrame(data)
df

# Use str.extract() with a regular expression to split the column
df[['stations', 'latitude', 'longitude']] = df['station'].str.extract(r'\[(.*?),\s+([\d.-]+),\s+([\d.-]+)\]')
df
# # Drop the original 'stations' column
# # df.drop(columns=['station'], inplace=True)

# # Convert 'latitude' and 'longitude' columns to float
# df['latitude'] = df['latitude'].astype(float)
# df['longitude'] = df['longitude'].astype(float)
# df
# # Display the resulting DataFrame
# print(df)

                       station stations  latitude  longitude
0  [RS107, 18.00009, -67.0009]    RS107  18.00009   -67.0009
1  [RS108, 19.00009, -68.0009]    RS108  19.00009   -68.0009

In [13]:
import pandas as pd

# Sample DataFrame with data enclosed in square brackets
data = {'stations': ['[RS107, 18.00009, -67.0009]', '[RS108, 19.00009, -68.0009]']}
df = pd.DataFrame(data)

# Use str.extract() with a regular expression to split the column
df[['station', 'latitude', 'longitude']] = df['stations'].str.extract(r'\[(.*?),\s+([\d.-]+),\s+([\d.-]+)\]')

# Drop the original 'stations' column
df.drop(columns=['stations'], inplace=True)

# Convert 'latitude' and 'longitude' columns to float
df['latitude'] = df['latitude'].astype(float)
df['longitude'] = df['longitude'].astype(float)

# Display the resulting DataFrame
df

  station  latitude  longitude
0   RS107  18.00009   -67.0009
1   RS108  19.00009   -68.0009